@import url('https://fonts.googleapis.com/css?family=Audiowide|=Josefin+Sans:100|=Rambla&display=swap'); 
html { 
    scroll-behavior: smooth;
}
body {
    color: #283655 !important;
    background-color:  #f7faff !important;
    font-family: 'Rambla', 'sans-serif';
    
}
h2,h3 {
    font-family: 'Audiowide', sans-serif;
    letter-spacing: 0,2em;
    text-transform: uppercase;
    text-shadow: -1px -1px 1px #283655;
}
li {
    list-style-type: none;
}
/* ******************************  HEADER  ******************************************* */

.navbar {
    background-color: #FAFAFA;
    opacity: 0.9;
    height: 42px;
    transition: 0.7s;
}
.navbar-nav {
    width: 110% !important;
    margin: 0 auto;
    justify-content: space-evenly;
}
header {
    text-align: center;
    height: 300vh;
    background: url(media/header.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
}
h1 {
    padding: 90px 0 10px 0;
    font-family:'Josefin Sans', sans-serif;
    font-size: 4.3em;
    text-transform: uppercase;
}
#line {
    height: 1px;
    background-color: #b3aca7;
    width: 25%;
    margin: 0 auto;
}
h2 {
    padding: 20px 0 50px 0;
    font-size: 3em;
    text-transform: uppercase; 
}
.presentation {
    height: 240px;
    margin-top: 20px;
}
.infos {
    border: 1px solid #b3aca7;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0; 
}
.photo {
    border: 1px solid #b3aca7;
    position: relative;
}
.photo img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: auto;
    max-width: 90%;
    border-radius: 3px;
    box-shadow: 0 0 4px #111;
}
header .button {
    margin-top: 45px;
}
header .button a {
    padding: 20px 80px;
    border: 1px solid #b3aca7;
    width: 300px;
}
header .button:hover a {
    background: #b3aca7;
    color: #e2dedb;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
/* ******************************************* LANGAGES ***************************************************** */

#Languages {
    padding: 80px 80px 80px 50px;
    margin: 20px 0 0 6%;
    height: 620px;
    width: 47%;
    max-width: 640px;
    background: linear-gradient(131deg, #eded18 0%, rgba(255,255,0.85) 20%, rgba(254,254,63,0.51) 70, rgba(255,255,69,0.26%));
}
